body:after {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: -1;
    content: url(../img/dance.gif);
}


/** CATEGORIES **/
.container{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 180px;
  }

img{
  width:100%;
  height:auto;
  padding-bottom: 1rem;
}

.catimg {
  width: 20rem;
  height: 20rem;
  background-image: url(../img/nodance.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 1rem;
}

.catimg:hover {
  background-image: url(../img/dance.gif);
}

.catimg2 {
  width: 20rem;
  height: 20rem;
  background-image: url(../img/woke.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 1rem;
}

.catimg2:hover {
  background-image: url(../img/dance.gif);
}

.catimg3 {
  width: 20rem;
  height: 20rem;
  background-image: url(../img/download.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 1rem;
}

.catimg3:hover {
  background-image: url(../img/dance.gif);
}

.box{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width:25rem;
  min-width:18rem;
  margin: 30px;
  text-align: center;
}

.box p {
  font-size: 1rem;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  color: rgb(100, 100, 100);
  line-height: 1rem;

}
/** CATEGORIES **/


