body:after {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: -1;
    content: url(../img/dance.gif);
}


.index-cat {
    width: 100%;
    padding: 170px 30px 0 30px;
    display: flex;
    justify-content: center;
    column-gap: 100px;
    }

.index-cat-box {
    width: 300px;
    height: 360px;
    text-align: center;
}

.index-cat-box:nth-child(1) {
    background-image: url(../img/nodance.jpg);
    background-size: contain;
    background-repeat: no-repeat;
   
  }

  .index-cat-box:nth-child(1):hover {
    background-image: url(../img/dance.gif);
  }

  .index-cat-box:nth-child(2) {
    background-image: url(../img/nodance.jpg);
    background-size: contain;
    background-repeat: no-repeat;
   
  }

  .index-cat-box:nth-child(2):hover {
    background-image: url(../img/dance.gif);
  }

  .index-cat-box:nth-child(3) {
    background-image: url(../img/nodance.jpg);
    background-size: contain;
    background-repeat: no-repeat;
   
  }

  .index-cat-box:nth-child(3):hover {
    background-image: url(../img/dance.gif);
  }

.index-cat-box h2 {
    display: inline-block;
    vertical-align: -340px;
}